aiogram==3.1.1
aiohttp-socks==0.8.3
alembic==1.12.1
art==5.9
asyncpg==0.28.0
cctx==1.0.0
ccxt==4.0.68
creds==1.0.15
dotenv==0.0.5
helpers==0.2.0
inquirer==3.1.3
loguru==0.7.0
mnemonic==0.20
moralis==0.1.37
openpyxl==3.1.2
pandas==2.0.3
pip-chill==1.0.3
pipreqs==0.4.13
progress==1.6
pyautogui==0.9.53
pybit==5.3.0
pysocks==1.7.1
pytelegrambotapi==4.12.0
python-dotenv==1.0.0
python-telegram-bot==20.5
pyuseragents==1.0.5
questionary==2.0.1
requests-toolbelt==1.0.0
selenium==4.10.0
starknet-py==0.18.2
tabulate==0.9.0
telegram==0.0.1
termcolor==2.3.0
tls-client==0.1.8
tqdm==4.65.0
ua-generator==0.1.8
useragentrandomizer==0.1.7
web3==6.8.0
xlrd==2.0.1
xlsxwriter==3.1.1
xlwt==1.3.0
